
<!-- 头部 -->
<div class="home-header" >
   <a href="#/city"><span>北京</span></a><img src="../home/imgs/02.png" class="ll1"/>
	<div class="search">
     <a href="#/search"><input type="text" placeholder = "大家都在搜 温泉"></a>
  </div>
      <section class="section1"><img src="../imgs/saoyisao.png"/> </section>
      <a href="#message"><section class="section2"><img src="../imgs/lingdang.png"/></section></a>
</div>
<!-- 10个图片 -->
<div class="container">
   <div class="wrap">

           <ul class="home-ul1">
               <li>
                  <img src="../imgs/shouye1.png" alt="" />
                  <p>美食</p>
               </li>
               <li>
                 <img src="../imgs/shouye2.png" alt="" />
                <a href="#/movie"><p>电影</p></a>
               </li>
               <li>
                 <img src="../imgs/shouye3.png" alt="" />
                 <p>酒店住宿</p>
               </li>
               <li>
                 <img src="../imgs/shouye4.png" alt="" />
                 <p>休闲娱乐</p>
               </li>
               <li>
                 <img src="../imgs/shouye5.png" alt="" />
                 <p>外卖</p>
               </li>
               <li>
                 <img src="../home/imgs/EDC1.tmp.jpg" alt="" />
                 <p>周边游</p>
               </li>
               <li>
                 <img src="../home/imgs/EE5F.tmp.jpg" alt="" />
                 <p>机票/火车票</p>
               </li>
               <li>
                 <img src="../imgs/shouye8.png" alt="" />
                 <p>景点</p>
               </li>
               <li>
                 <img src="../imgs/shouye9.png" alt="" />
                 <p>Ktv</p>
               </li>
               <li>
                 <img src="../imgs/shouye10.png" alt="" />
                 <p>丽人</p>
               </li>
         </ul>


         <ul class="tab">
              <li>
                <img src="../home/imgs/kk1.jpg" alt="" />
                <p>足疗按摩</p>
              </li>
              <li>
                <img src="../home/imgs/kk2.jpg" alt="" />
                <p>美发</p>
              </li>
              <li>
                <img src="../home/imgs/kk3.jpg" alt="" />
                <p>洗浴/汗蒸</p>
              </li>
              <li>
                <img src="../home/imgs/kk4.jpg" alt="" />
                <p>桌游/电玩</p>
              </li>
              <li>
                <img src="../home/imgs/kk5.jpg" alt="" />
                <p>生活服务</p>
              </li>
              <li>
                <img src="../home/imgs/kk6.jpg" alt="" />
                <p>运动健身</p>
              </li>
              <li>
                <img src="../home/imgs/kk7.jpg" alt="" />
                <p>美容美体</p>
              </li>
              <li>
                <img src="../home/imgs/kk8.jpg" alt="" />
                <p>美甲美瞳</p>
              </li>
              <li>
                <img src="../home/imgs/kk9.jpg" alt="" />
                <p>温泉</p>
              </li>
              <li>
                <img src="../home/imgs/kk10.jpg" alt="" />
                <p>全部分类</p>
              </li>
       </ul>

   </div>


</div>
<!-- 2个小点 -->
<div class="xiaodian">
	<span class = "xd1"></span>
	<span class = "xd2"></span>
</div>
<!-- 龙骑购物 -->
<div class="home-longqi">
    <div class = 'longqi-l'>
	     <img src="../home/imgs/longqi.png"/>
	</div>
	<div class = 'longqi-r'>
		<h3>龙旗购物中心</h3><span>< 500米</span>
		<p>32个优惠商家</p>
	</div>
</div>
<!-- 火锅  -->
<div class="home-huoguo">
    <div class="huoguo-l" >
	     <h3>五元秒肉</h3>
		 <p>火锅节来袭</p>
	</div>
	<div class="huoguo-r" >
		 <img src="../imgs/shouye11.png"/>
	</div>
</div>
<!-- 外卖区 -->
<ul  class ='home-ul2'>
	<li> <h3>天天满减</h3> <p>每天都有新优惠</p> <section><img src="../imgs/shouye12.png"/></section></li>
	<li> <h3>学习培训</h3> <p>领万圣节红包</p> <section><img src="../imgs/shouye13.png"/></section></li>
	<li> <h3>新客专享</h3> <p>领电影红包啦</p> <section><img src="../imgs/shouye14.png"/></section></li>
	<li> <h3>出国特价</h3> <p>领￥100红包</p> <section><img src="../imgs/shouye15.png"/></section></li>
	<li> <h3>手机充值</h3> <p>安全便捷 </p> <section><img src="../imgs/shouye16.png"/></section></li>
    <a href="#/recommend"><li> <h3>今日推荐</h3> <p>品质生活指南</p><section><img src="../imgs/shouye17.png"/></section></li></a>
</ul>
<!-- 旅游攻略 -->
<div class="home-lvyou">
	<section class = 'lvyou-l'>
	   <p>旅游</p>
     <h3>攻略</h3>
	</section>
	<section class = 'lvyou-r'>
		<p><span>玩法</span>&nbsp;住在这，才叫去过北京！</p>
		<p><span>游记</span>&nbsp;不一样的北京城--带爸妈去旅行</p>
    </section>
</div>
<!-- 猜你喜欢  下面都是json -->
<div class="home-caini">
	<p>♥ 猜你喜欢</p>
</div>
<ul class="home-xihuan">
	<li ng-repeat="data in data">
			<section class = 'love-l'>
        <img ng-src="{{ data.img }}"/>
      </section>
			<section class = 'love-r'>
				<h3>{{ data.name }} </h3> <span> < 500m </span>
				<p>地区：[{{ data.address }}]</p>
				￥{{ data.price }}门市价:￥{{ data.market_price }} &nbsp;     已售 {{ data.sell }}
				<div>配送费：{{ data.money }}</div>
			</section>
	</li>

</ul>
<div class="backTo" ng-click="click()">
  <img src="../home/imgs/top.jpg" alt="" />
</div>
<!-- 留空白区域 -->
<div class="home-footer"></div>
