*{
	margin:0;
	padding: 0;
}
html{
	 font-size: 14px;
	    overflow: auto;
}
a{
	text-decoration: none;
}
.backTo{
	 width: 34px;
	 height: 40px;
	 border-radius: 50%;
	 background-color: white;
	 position: fixed;
	 right: 1rem;
	 bottom: 10%;
	 border: 1px solid #ccc;
}
.backTo img{
	margin: 5px;
}
/* 头部 */
.home-header{
	    z-index: 1;
        background-color: #06c0ab;
        height:4rem;
        width: 100%;
        position: fixed;
        left: 0;
        right:0;
        top: 0;
        color: white;
 }
.home-header span{
	position: absolute;
	top: 1.8rem;
	left: 5%;
}
a{
	color: black;
}
.home-header .ll1{
	 width: 1.6rem;
	 position: absolute;
	 top: 1.7rem;
	 left: 3.8rem;
}
.home-header .search{
	width: 50%;
	position: absolute;
	top: 1.5rem;
	left: 25%;
	background-color: white;
	border-radius: 1.5rem;
}
.home-header .search input{
	width: 80%;
	height: 1.5rem;
	margin-left: 10%;
  border: white;
	border: none;
	outline: none;
}
.home-header section{
	 position: absolute;
	 bottom: 1rem;
}
.home-header section img{
	width: 100%;
}
.home-header .section1{
	width: 5%;
	height:2rem;
	position:absolute;
	right: 15%;
	top: 1.5rem;
}
.home-header .section2{
	width: 5%;
	height:2rem;
	position:absolute;
	right: 5%;
	top: 1.4rem;
}
/* 10个图片  */
.container{
	 width: 100%;
	 height: 18rem;
	 border-bottom: 1px solid black;
	 overflow: hidden;
}
.container .wrap{
	 width: 200%;
	 display: flex;
	 transition: all .5s;
}
.container .home-ul1{
	width: 50%;
	padding-top: 4rem;
	height: 14rem;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.container .home-ul1 li{
	 width: 20%;
	 height: 6rem;
	 text-align: center;
}
.container .home-ul1 li img{
	 width: 60%;
	 height: 3.6rem;
}
.container .home-ul1 li p,.tab li p{
	  height: 2rem;
		margin-top: .2rem;
}
.container .tab{
	width: 50%;
	padding-top: 4rem;
	height: 14rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.container .tab li{
	width: 20%;
	height: 50%;
	list-style: none;
	text-align: center;
}
.container .tab li img{
	  width: 60%;
		height: 3.6rem;
		margin-top: .4rem;
}
/*2个小点 */
.xiaodian{
	clear: both;
	width: 100%;
	height: .4rem;
	position:relative;
	background-color: #ccc;
}
.xd1{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 46%;
		top: 10%;
}
.xd2{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 54%;
		top: 10%;
}
/* 龙骑购物 */
.home-longqi{
	height: 5rem;
	width: 100%;
	border-top:solid 1rem #f0f0f0;
    border-bottom:solid 1rem #f0f0f0;
}
.home-longqi .longqi-l{
	width: 25%;
	height: 5rem;
	float: left;
}
.home-longqi .longqi-l img{
	 width: 100%;
	 height: 100%;
}

.home-longqi .longqi-r{
	width: 75%;
	height: 5rem;
	float: left;
}
.home-longqi .longqi-r h3{
	margin-top: .5rem;
}
.home-longqi .longqi-r span{
	float: right;
	margin: -1.4rem 5% 0 0 ;
}
.home-longqi .longqi-r p{
	margin-top: 1rem;
	font-size: .8rem;
	color: #D1B26F;
}
/* 火锅  */
.home-huoguo{
	/* clear: both; */
	height: 5rem;
	width: 100%;
    border-bottom:solid .1rem #f0f0f0;
}
.home-huoguo .huoguo-l{
	width: 60%;
	height: 5rem;
	float: left;
}
.home-huoguo .huoguo-r{
	width: 40%;
	height: 5rem;
	float: left;
}
.home-huoguo .huoguo-l h3{
	margin: .8rem 0 0 .6rem;
}
.home-huoguo .huoguo-l p{
	margin: 1rem 0 0 .6rem;
	font-size: .8rem;
	color: #FF6B71;
}
.home-huoguo .huoguo-r img{
	width: 100%;
	height: 4rem;
	margin-top:1rem;
}
/* 外卖区 */
.home-ul2{
	width: 100%;
	display: inline-block;
}
.home-ul2 li{
	list-style: none;
	width: 50%;
	height: 4.5rem;
	float: left;
	position: relative;
}
.home-ul2 li h3{
	position: absolute;
	left: .4rem;
	top: .5rem
}
.home-ul2 li p{
	position: absolute;
	left: .4rem;
	top: 2.5rem;
	font-size: 1rem;
}
.home-ul2 li section{
	width: 29%;
	position: absolute;
	right: 0.4rem;
	top: .6rem;
}
.home-ul2 li section img{
	width: 90%;
	height: 3rem;
}
.home-ul2 li p{
	 font-weight: bold;
}
.home-ul2 li:nth-child(1) p{
	color: #5EB5AA;
}
.home-ul2 li:nth-child(2) p{
	color: #BFA3D2;
}
.home-ul2 li:nth-child(3) p{
	color: #ED6971;
}
.home-ul2 li:nth-child(4) p{
	color: #FEBC47;
}
.home-ul2 li:nth-child(5) p{
	color: #6C96CC;
}
.home-ul2 li:nth-child(6) p{
	color: #DB8D84;
}
/* 旅游攻略 */
.home-lvyou{
	width: 100%;
	height:4rem;
	border-top:solid .5rem #f0f0f0;
  border-bottom:solid .5rem #f0f0f0;
  font-size: .8rem;
	display: flex;
}
.home-lvyou .lvyou-l{
  width: 20%;
	color: #66A9F1;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	font-weight: bold;
	border-right: 1px solid #ccc;
}
.home-lvyou .lvyou-l h3{
	 font-size: 1.5rem;
}
.home-lvyou .lvyou-r{
	width: 70%;
	float: left;
	line-height: 2rem;
}
.home-lvyou .lvyou-r p{
	 margin-left: 1rem;
}
.home-lvyou .lvyou-r span{
	display: inline-block;
	height: 1.5rem;
	background-color: #E9F9FF;
	color: #90AAD3;
	text-align: center;
	line-height: 1.5rem;
}


/* 猜你喜欢 */
.home-caini{
	padding: .7rem 0;
	color: #06C5AD;
	border-bottom: 1px solid #ccc;
}
.home-caini p{
	 margin-left: 1.2rem;
}
.home-xihuan{
	width: 100%;
	display: inline-block;
}
.home-xihuan li{
	list-style: none;
	width: 100%;
	height: 8rem;
	font-size: .8rem;
	line-height: 1.6rem;
	border-bottom: 1px solid #ccc;
}
.home-xihuan li .love-l{
	width: 35%;
	height: 8rem;
	float: left;
}
.home-xihuan li .love-l img{
	width: 80%;
	height: 6rem;
	margin:1.0rem  0 0 10%;
}
.home-xihuan li .love-r{
	width: 65%;
	height: 8rem;
	float: left;
}
.home-xihuan li .love-r h3{
	margin-top: .6rem;
}
.home-xihuan li .love-r div{
	color: #e8a731;
	background-color: #FEF7ED;
	padding: .2rem 0;
	width: 40%;
	text-align: center;
	line-height: 22px;
}
.home-xihuan li .love-r span{
	float: right;
	margin-top: -1.5rem;
	margin-right: 6%;
}


/* 留白 */
.home-footer::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 4rem;
}
